body {
    background: white;
}

.navbar {
    background-color: black;
    position: sticky;
    overflow: hidden;
    display: block;
    margin: 0;
    top: 0px;
    right: 0px; 
    left: 0px;
}

.navbarText {
    color: lightgrey;
    text-decoration: none;
    background: none!important;
    border: none;
    padding-right: 25px!important;
    cursor: pointer;
}

.navbarText:hover {
   color: white;
}

.header {
    background: linear-gradient(0deg, white 0%, lightgrey 50%);
    text-align: center;
    display: block;
    font-size: 50px;
    padding: 50px;
    margin: 0;
}

.text {
    font-size: larger;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 50px;
    margin-left: 50px;
    line-height: 50px;
}

.box {
    background: linear-gradient(0deg, rgba(0,0,0,1) 85%, rgba(255,255,255,1) 100%);
    position: absolute;
    z-index: -1;
    width: 75%;
    height: 280px;
}

@mixin footer {
    background: linear-gradient(0deg, rgba(0,0,0,1) 85%, rgba(255,255,255,1) 100%);
    color: white;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    height: 200px;
    padding: 50px 30px 30px 30px;
}

.footerLeft {
    @include footer;
    float: left;
}

.footerRight {
    @include footer;
    float: right;
}

::-webkit-scrollbar{
    width: 0;
}